<html>
    <head>
        <title> Express </title>
    </head>
    <body>
        <h1> Express </h1>
        <p> Welcome to Express </p>
        <% if (user) { %>
        <p> Hello <%= user.name %>! </p>
        <p> <a href=/auth/logout> Logout </a> </p>
        <% } else { %>
        <p> <a href=/auth/login> Login </a> </p>
        <% } %>
    </body>
</html>
